<%- include("cabeceras/cabeceras") %>
<body>
    <h1>Ttitulo de nuestra pagina</h1>
    <h2><%= result %></h2>

    <div id="alta">Esto no se muestra</div>

    <script src="/js/index.js"></script>
</body>
</html>