<%- include("cabeceras/samuel&jhon.ejs") %>
<body>
    <h1>Top Mejores Juegos</h1>
    <div>
        <input type="text" placeholder="Tu primer juego favorito" id='<% nj_primero%>'>
        <input type="text" placeholder="Tu segundo juego favorito" id='<% nj_segundo%>'>
        <input type="text" placeholder="Tu tercer juego favorito" id='<% nj_tercero%>'>
        <input type="text" placeholder="Tu cuarto juego favorito" id='<% nj_cuarto%>'>
        <button type="submit" onclick="funcion()">Añadir</button>
    </div>
    
</body>
</html>